<h1>Geography Game</h1>
<h2>Select a Game to Play:</h2>
<ul>
  <li><a href="<%= games_population_path %>">Population Game</a></li>
  <li><a href="<%= games_area_path %>">Area Game</a></li>
  <li><%= link_to 'Random Topic Game', games_random_path %></li>
  <!-- Add more game links as needed -->
</ul>
